<div id="blog-page" layout="column" layout-padding layout-margin>

  <md-content>
    <md-card class="blog-card" ng-repeat="post in Blog.posts track by post.id" ng-click="Blog.goToPost(post.id)">
      <img ng-src="{{post.imgs[$index].attributes.href}}">
      <md-card-content>

      <h1>{{post.title}}</h1>

        <h4>{{post.headers[$index].attributes.text}}</h4>

        <div ng-repeat="header in post.headers">
          <p>{{header.paragraphs[$index].attributes.body}}</p>
        </div>

      </md-card-content>
    </md-card>
  </md-content>

</div>