  <md-dialog class="edit-para">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h4>Edit Paragraph</h4>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <p>Edit Paragraph</p>
      <div class="md-actions" layout="row">
        <md-input-container flex>
          <label>Paragraph</label>
          <textarea ng-model="ctrl.para.attributes.body"></textarea>
        </md-input-container>
      </div>
    <md-button ng-click="ctrl.edit(ctrl.para.attributes.body)">save</md-button>
    <md-button ng-click="ctrl.cancel()">cancel</md-button>
  </md-dialog-content>
</md-dialog>
