<md-dialog class="edit-para">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h4>Edit Header</h4>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <p>Edit Header</p>
    <div class="md-actions" layout="row">
      <md-input-container flex>
        <label>Header</label>
        <textarea ng-model="ctrl.header.attributes.text"></textarea>
      </md-input-container>
    </div>
    <md-button ng-click="ctrl.edit(ctrl.header.attributes.text)">save</md-button>
    <md-button ng-click="ctrl.cancel()">cancel</md-button>
  </md-dialog-content>
</md-dialog>